.category a{
    text-decoration:none;
}

.card:hover{
    display: block;
    opacity:0.9;
 }
 /*
.modal{
    display: none;
} */
.card i{
    color: white;
    position: absolute;
    bottom: 30px;
    left: 20px;
}