{% extends 'base.html' %}

{% block content%}
    <div class="container">
    
            <div class="images flex-row flex-wrap  ">
                {% for image in images %}
                <div class=" card image-display w-50 bg-warning">
                <a href="{% url 'image_view' image.id %}" data-popup-url="{% url 'image_view' image.id  %}" class=""> <img src="{{image.image.url}}" class="w-100 m-1" alt=""> </a> 
                </div> 
                {%endfor%}  
              
                
            </div>
            <div class="modal">
                {% include 'image.html' %}
            </div>
    </div>     
   
{% endblock %}