
  <div id="popup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
            <img src="{{image.image.url}}" alt="">
            <p class="bg-info  pl-2">
                {{image.name}}
            </p>
              
            <div>
                {{image.description}}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>
  